<div class="text-center">
    <h1>Good Things</h1>
        <p>A place to recognize the "Good Things" in your life</p>
        <%= link_to "Get Started!", new_user_registration_path, class: "round btn btn-lg btn-primary" %>
        <!-- fix the path to signup -->
        <%= link_to "Learn More", about_path, class: "round btn btn-lg btn-primary" %>
</div>
<!-- /.text-center -->
