<footer class="footer">
  <nav>
    <ul class="nav nav-pills navbar-right">
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Developer", developer_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
